nav{
    background-color: black;
    color: white;
    padding: 15px;
}

.n:hover{
    font-size: 25px;
}

li,h1,ul{
    display: inline;
}

ul{
    margin-left: 60%;
}

li{
    color: grey;
    cursor: pointer;
}

li:hover{
    color: white;
}

input{
    width: 60%;
    padding: 9px;
}

.searchbar{
    padding: 15px;
    text-align: center;
}

img{
    height: 220px;
    width: 220px;
}

.box:hover{
    width: 230px;
    height: 300px;
}

.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 220px;
}

.products{
    text-align: center;

}

.box:hover{
    background-color: black;
    color: white;
}

.hh:hover{
    font-size: 20px;
    display: inline;
    background-color: lightsalmon;
    color: black;
}

.h:hover{
    font-size: 20px;
    display: inline;
    background-color: lightsalmon;
    color: black;
}

.hhh:hover{
    font-size: 25px;
    display: inline;
    background-color: lightsalmon;
    color: black;
}

.s:hover{
    font-size: 25px;
    background-color: lightsalmon;
    color: black;

}